<% if (page.year) { %>
  <div class="archive-label">
    <span class="archive-label-txt"><%- page.year %>年 <%- page.month %>月</span>
    <span>的文章</span>
  </div>
<% } %>
<% page.posts.each(function(post){ %>
  <%- partial('_partial/article', {post: post}) %>
<% }) %>
<div id="page-list">
  <%- paginator({prev_text: __('Prev'), next_text: __('Next')}) %>
</div>
