<div class="widget-item">
  <div class="search-block js-transition-click">
    <input class="search-input" type="text" placeholder="搜索文章">
    <span id="search-btn" class="iconfont icon-sousuo_sousuo"></span>
    <i class="search-bottom"></i>
    <i class="search-transition-line js-transition-bottom"></i>
  </div>
</div>
