<% if (site.tags.length){ %>
  <div class="widget-item">
    <h3 class="widget-title">
      <i class="iconfont icon-msnui-tag"></i>
      <span><%= __('tags') %></span>
    </h3>
    <div class="widget">
      <%- list_tags({show_count: theme.tag_show_count}) %>
    </div>
  </div>
<% } %>
