body, div, dl, dt, dd, ul, li, input, form, a, p, textarea
  margin: 0;
  padding: 0;
theme-color = #1296db
vender(prop, args)
  -webkit-{prop}: args;
  -moz-{prop}: args;
  -ms-{prop}: args;
  {prop}: args;
flex()
  vender('display', arguments)
.theme-icon
  color: theme-color;
body
  width: 100%;
  font-size: 14px;
  color: #333;
  background: #fbfbfb;
  font-family: '微软雅黑',tahoma,arial,'Hiragino Sans GB',"宋体",sans-serif;
.fixed
  position: fixed;
  top: 20px;
#bg
  position: absolute;
  flex: flex;
  width: 100%;
  height: 248px;
  justify-content: center;
  overflow: hidden;
  z-index: -100;
  background-color: #293952;

#container
  position: relative;
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  box-sizing: border-box;

  .hide
    display: none;
  .no-tool-bar
    width: 100%;
    padding: 0;
    border-right: 0;
  .main-right
    padding-right: 0;
    padding-left: 40px;
    border-right: none;
    border-left: 1px solid #eee;
  .toolbar-left
    padding-left: 0;
    padding-right: 40px;
#header
  min-height: 248px;
  color: #fff;
.header-site
  position: absolute;
  left: 50px;
  margin: 16px 0;

  .header-site-item
    padding: 10px 18px;
    color: #fff;
    text-decoration: none;

    .iconfont
      font-size: 28px;
.header-nav
  position: absolute;
  margin: 20px 0;
  right: 50px;
nav-transition()
  vender('transition', arguments)
nav-transform()
  vender('transform', arguments)
.nav-item
  position: relative;
  padding: 10px 18px;
  color: #fff;
  text-decoration: none;

  .nav-item-bottom
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 39px;
    height: 2px;
    width: 100%;
    background-color: #fff;
    nav-transform: scaleX(0);
    nav-transition: all .45s cubic-bezier(.23,1,.32,1);
  .focus
    nav-transform: scaleX(1);
.header-desc
  padding-top: 100px;

  h1
    font-weight: normal;
    font-size: 32px;
  h2
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
#content
  padding: 20px 0 60px 0;
  font-size: 0;
#main
  display: inline-block;
  box-sizing: border-box;
  width: 75%;
  padding-right: 40px;
  padding-bottom: 20px;
  border-right: 1px solid #eee;
  font-size: 14px;
  vertical-align: top;

  .post
    padding: 30px 10px;
    border-bottom: 1px solid #ccc;
  .post-title
    margin-top: 0;
    margin-bottom: 10px;

    a
      color: #333;
      font-weight: normal;
      text-decoration: none;
      nav-transition: .3s;

      &:hover
        color: theme-color;
  .post-meta
    flex: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #999;
  .post-meta-c
    flex: flex;
    margin-bottom: 20px;
    color: #999;
    justify-content: space-between;
    align-items: center;
    .post-meta-l
      flex: flex;
      align-items: center;
  .post-date
    font-size: 0;

    i
      margin-right: 4px;
    span
      font-size: 14px;
  .post-category-item
    flex: inline-flex;
    align-items: center;

    .iconfont
      color: #999;
    a
      margin-left: 4px;
      color: #999;
      text-decoration: none;

      &:hover
        color: theme-color;
  .post-meta-line
    margin: 0 6px;
    font-size: 18px;
  .post-article-footer
    margin-top: 20px;
    overflow: auto;
  .post-tags
    float: left;
    padding-top: 6px;
  .post-tags-item
    flex: inline-flex;
    align-items: center;
    margin-right: 16px;

    .iconfont
      color: #999;
    a
      margin-left: 4px;
      color: #999;
      text-decoration: none;

      &:hover
        color: theme-color;
  .post-readmore
    float: right;
    margin-right: 6px;

    a
      display: inline-block;
      height: 30px;
      padding: 0 14px;
      line-height: 30px;
      border: 1px solid #ccc;
      border-radius: 15px;
      color: #666;
      text-decoration: none;
      transition: all .3s;

      &:hover
        border: 1px solid theme-color;
        color: theme-color;
  #page-list
    margin-top: 50px;
    text-align: center;

    a
      display: inline-block;
      width: 50px;
      height: 30px;
      margin: 0 6px;
      border: 1px solid #ccc;
      border-radius: 15px;
      line-height: 30px;
      text-align: center;
      color: #666;
      text-decoration: none;
      transition: all .5s;

      &:hover
        border: 1px solid theme-color;
        color: theme-color;
    .prev
    .next
      width: 70px;
    span
      padding: 4px;
      margin: 0 6px;
  .archive-date
    font-size: 20px;
    color: #555;
  .archive-item
    display: flex;
    margin: 10px 0 10px 60px;
    
    .archive-item-date
      width: 120px;
      flex-shrink: 0;
      color: #999;
    .archive-item-title
      flex-grow: 1;
      
      a
        color: #777;
        text-decoration: none;
        transition: .3s;
        &:hover
          color: theme-color;
#post
  .post-header
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;

    .post-title
      padding: 0 40px;
      text-align: center;
      font-size: 24px;
      margin-bottom: 40px;
    .post-meta
      margin-bottom: 0;
  .post-footer
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;

    .footer-post-tags
      margin-bottom: 30px;
    .copyright-desc
      text-align: center;
      margin-bottom: 30px;
      color: #999;

      div
        margin-bottom: 10px;
      a
        color: #999;
        text-decoration: none;
        nav-transition: all .3s;

        &:hover
          color: theme-color
    .article-tip
      text-align: center;
      margin-bottom: 30px;
      color: #999;

      .tip-btn
        display: inline-block;
        width: 60px;
        height: 60px;
        margin-top: 10px;
        line-height: 60px;
        background-color: theme-color;
        color: #fff;
        font-size: 24px;
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
        nav-transform: scale(1, 1);
        nav-transition: all .3s;

        &:hover
          nav-transform: scale(1.2, 1.2);
    .tip-method
      width: 100%;
      margin: 0 auto;
      font-size: 0;

      .tip-method-item
        display: inline-block;
        vertical-align: bottom;
        padding: 20px;

        div
          font-size: 12px;
          color: #666;
          margin-top: 10px;
      img
        width: 180px;
    .near-article
      flex: flex;
      justify-content: space-between;

      .near-article-item
        color: #666;
        text-decoration: none;
        nav-transition: all .3s;

        &:hover
          color: theme-color;
    .pinglun-tips
      margin-top: 40px;
      color: #999;
      font-size: 12px;
    .foot-share
      flex: flex;
      margin-top: 30px;
      align-items: center;
.markdown-body
  img
    cursor: -webkit-zoom-in;
    cursor: zoom-in;



#toolbar
  display: inline-block;
  width: 25%;
  padding-left: 40px;
  padding-top: 30px;
  font-size: 14px;
  vertical-align: top;
  box-sizing: border-box;

  ol,ul,li
    list-style: none;
  .widget-item
    margin-bottom: 50px;
  .search-block
    position: relative;
    width: 100%;
    display: inline-block;

    .search-input
      width: 100%;
      padding: 10px 40px 10px 10px;
      border: none;
      outline: none;
      box-sizing: border-box;
      background-color: transparent;
    .search-bottom
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      display: inline-block;
      height: 1px;
      background-color: #ccc;
    .search-transition-line
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      height: 2px;
      width: 100%;
      background-color: theme-color;
      nav-transform: scaleX(0);
      nav-transition: all .45s cubic-bezier(.23,1,.32,1);
    .focus
      nav-transform: scaleX(1);
    .icon-sousuo_sousuo
      position: absolute;
      right: 10px;
      top: 5px;
      font-size: 24px;
      color: #666;
  #search-mask
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  #search-result
    position: absolute;
    width: 140%;
    right: -20px;
    top: 42px;
    padding: 20px;
    border: 1px solid theme-color;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 4px 4px 6px #ccc;

    &:before
      content: '';
      position: absolute;
      display: inline-block;
      border-width: 0 12px 12px 12px;
      border-style: solid;
      border-color: theme-color transparent;
      left: 40%;
      top: -12px;
    &:after
      content: '';
      position: absolute;
      display: inline-block;
      border-width: 0 12px 12px 12px;
      border-style: solid;
      border-color: #fff transparent;
      left: 40%;
      top: -11px;
  .search-result-content
    max-height: 400px;
    overflow-y: auto;
    padding-right: 20px;
    margin-right: -20px;

    .tips
      flex: flex;
      padding: 20px 0;
      color: #999;
      align-items: center;
      justify-content: center;

      .iconfont
        margin-right: 10px;
        font-size: 32px;
  .search-result-item
    padding: 6px 0;
    border-bottom: 1px solid #ccc;

    &:last-child
      border-bottom: none;
    &:first-child
      padding-top: 0;
    a
      color: #666;
      text-decoration: none;
      nav-transition: all .3s;

      &:hover
        color: theme-color;
    .item-title
      margin-bottom: 4px;
    .item-date
      margin-bottom: 4px;
      text-align: right;
      font-size: 12px;
    .tags div
      display: inline-block;
      margin-right: 4px;
      font-size: 12px;

      &:last-child
        margin-right: 0;


  .widget-title
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    color: theme-color;
    font-weight: normal;

    .iconfont
      font-size: 18px;
  .widget
    li
      padding: 4px 0;
    a
      color: #666;
      text-decoration: none;
      nav-transition: all .3s;

      &:hover
        color: theme-color;
    .category-list-count
    .tag-list-count
    .archive-list-count
      color: theme-color;
      &:before
        content: '（'
      &:after
        content: '）'
  .post-toc
    background: #fbfbfb;
    .toc
      margin: 0;
      padding: 0;

      a
        &:visited
          color: #aaa;
  .tagcloud a
    margin-right: 10px;
#footer
  padding: 40px 0;
  text-align: center;
  font-size: 12px;

  .footer-count
    margin-bottom: 10px;
  .footer-info
    p
      display: inline-block;
      margin-right: 20px;
    a
      color: theme-color;
      text-decoration: none;

      &:hover
        text-decoration: underline;
#to-top
  position: fixed;
  display: none;
  right: 40px;
  bottom: 80px;

  .to-top-content
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 36px;
    border: 1px solid #999;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    color: #999;
    nav-transition: all .45s;

    &:hover
      color: #fff;
      border: 1px solid theme-color;
    .iconfont
      font-size: 24px;
    .to-top-bg
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: theme-color;
      nav-transform: scale(0, 0);
      nav-transition: all .45s cubic-bezier(.23,1,.32,1);
      z-index: -100;
    .focus
      nav-transform: scale(1, 1);
#about
  .about-block
    vender(display, flex);
    width: 500px;
    align-items: center;
    margin: 40px auto;

    .about-photo
      width: 200px;
      height: 200px;
      border-radius: 50%;
      flex-shrink: 0;
    .about-info
      flex-grow: 1;
      margin-left: 50px;

      .about-info-item
        vender(display, flex);
        margin-bottom: 14px;

        .about-info-item-label
          width: 80px;
          flex-shrink: 0;
        .about-info-item-txt
          flex-grow: 1;
        .about-href
          color: #666;
          vender(transition, all .3s);

          &:hover
            color: theme-color;

@media screen and (max-width: 900px)

  #about
    .about-block
      display: block;
      width: auto;
      .about-photo
        display: block;
        margin: 0 auto;
      .about-info
        margin-left: 0;
        margin-top: 30px;
@media screen and (max-width: 700px)

  .header-site
    left: 20px;
    
    .header-site-item
      padding: 10px;
  .header-nav
    right: 20px;
  .nav-item
    padding: 10px 14px;
  #main
    width: 100%;
    padding-right: 0;
    border-right: none;

    .post
      padding: 10px;
    #page-list
      .page-number
      .space
        display: none;
    .archive-item
      margin: 10px 0;
  #container
    padding: 0 20px;

    .main-right
      padding-left: 0;
      border-left: none;
    .toolbar-left
      display: none;
  #toolbar
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  #to-top
    .to-top-content
      display: none;
  #toolbar
    .search-block #search-result
      width: 100%;
      right: 0;
      box-sizing: border-box;

      &:before
      &:after
        left: 20px;
    .widget-item
      margin-bottom: 20px;
    #post-toc
      display: none;
  #post
    .post-header .post-title
      font-size: 18px;
    .post-footer .near-article
      display: block;
      a
        display: block;
        margin-bottom: 10px;
