<div id="footer">
  <% if (theme.busuanzi) { %>
    <div class="footer-count">
      <span id="busuanzi_container_site_pv">
        本站总访问量<span id="busuanzi_value_site_pv"></span>次
      </span>
    </div>
  <% } %>
  <div class="footer-info">
    <p>Copyright &copy; <a href="<%- url %>">涯无凌（yawuling）</a>.</p>
    <p>Power by <a href="https://hexo.io/">Hexo</a></P>
  </div>
</div>
