<div id="footer">
  <div class="footer-info">
    <p>Copyright &copy; <a href="<%- url %>">涯无凌（yawuling）</a>.</p>
    <p>Theme by <a href="https://github.com/yawuling/Ani">Ani</a>.</p>
    <p>Power by <a href="https://hexo.io/">Hexo</a></P>
  </div>
</div>
