<div class="article-tip">
  <div><%= theme.tip.label %></div>
  <a id="tip-btn" class="tip-btn">赏</a>
  <div class="tip-method hide">
    <div class="tip-method-item">
      <img src="<%- theme.tip.wepay %>" alt="微信打赏">
      <div>微信打赏</div>
    </div>
    <div class="tip-method-item">
      <img src="<%- theme.tip.alipay %>" alt="支付宝打赏">
      <div>支付宝打赏</div>
    </div>
  </div>
</div>
