<div class="article-tip">
  <div>您的支持将鼓励我继续创作！</div>
  <a id="tip-btn" class="tip-btn">赏</a>
  <div class="tip-method hide">
    <div class="tip-method-item">
      <img src="<%- theme.wepay %>" alt="微信打赏">
      <div>微信打赏</div>
    </div>
    <div class="tip-method-item">
      <img src="<%- theme.alipay %>" alt="支付宝打赏">
      <div>支付宝打赏</div>
    </div>
  </div>
</div>
